Kitware/
MusicBrainz/
Pinta/
QtProject.conf
Thunar/
autostart/
azote/
balena-etcher/
cava/
cmus/
dconf/
discord/
eog/
gedit/
gtk-2.0/
gtk-3.0/
hong-kong-night.jpg
htop/
libreoffice/
mangal/
mimeapps.list
mov-cli/
mpd/
ncmpcpp/
os/
pavucontrol.ini
pdfcpu/
protonvpn/
pulse/
qBittorrent/
spotify/
starship.toml
sublime-text/
systemd/
ulauncher/
xfce4/
