.mwe-math-fallback-image-inline,
.mwe-math-fallback-image-display,
.mw-logo-wordmark,
.mw-logo-tagline,
.mw-ui-icon-wikimedia-menu:before,
.mw-ui-icon-ellipsis:before,
#searchButton,
img[src*="LaTeX.svg.png"],
span.vector-icon {
    filter: invert(80%);
}

.mw-wiki-logo {
    filter: invert(80%);
}

img[src*="-IFIS_"],
img[src*="FIAV_"] {
    filter: invert(80%);
}

.vectorTabs {
    background-image: none !important;
    border-left: 1px solid rgb(29, 79, 114);
}

.vectorTabs li {
    background-image: none !important;
    border-top: 1px solid rgb(29, 79, 114);
}

.vectorTabs span {
    background-image: none !important;
    border-right: 1px solid rgb(29, 79, 114);
}

ul {
    list-style-image: none !important;
}

table.wikitable td[style*="background"]:not([style*="color"]) {
    color: #000;
}